    body{
	background:#3f3f3f;
    text-decoration:none;
}

/********************************************************/
/*************************LOGIN**************************/
/********************************************************/
.login-form{
    padding:15px 30px 30px 30px;
    background:#fff;
    width:350px;
    margin:75px auto;
}

.login-form img{
    display:block;
    margin:15px auto;
}

.form input[type="text"],
.form input[type="password"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 5px 5px 5px 40px;
    border:none;
    border-bottom:1px solid #ddd;
    font: 1em Arial, Helvetica, sans-serif;
    height: 45px;
}

.form input[type="text"]{
    background:url("../images/login.png") no-repeat;
    background-position:4px 9px;
}

.form input[type="password"]{
    background: url("../images/pass.png") no-repeat;
    background-position:2px 12px;
}

.form input[type="checkbox"]{
    margin:10px 10px 20px 0;
}

.form label{
    font: .9em Arial, Helvetica, sans-serif;
    color:#6f7382;
    text-align:left;
}

.form input[type="submit"]{
    background-color: #00a2d3;
    border: 1px solid #007599;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
    float:right;
}

.form a{
    text-decoration:none;
    color:#00a2d3;
    font:.8em Arial, Helvetica, sans-serif;   
}

.login-messages{
    display:none;
    background:#fa6b5b;
    padding:10px;
    margin:10px 0;
    border-radius:3px;
    font:.8em Arial, Helvetica, sans-serif;   
    font-weight:bold;
    color:#fff;
}


/********************************************************/
/*************************HEADER*************************/
/********************************************************/
.top-bg{
    width:100%;
    background:#fff;
}

.top{
    width:80%;
    margin:auto;
}

.top img{
    margin:20px;
}

/*user menu*/
.drop-down-menu{
    display:none;
}

.user-info{
    float:right;
    display:block;

}






.top ul{
    width:100%;
    text-align:center;
    background:#3f3f3f;
}

.top ul li{
    display:inline-block;
    margin:5px 10px;
    background:#fff;
    padding:5px 15px;
}

.top ul li.selected{
    border-color:;
    border-bottom:#000 solid 3px;
}



.content{
    background:#fff;
}