    body{
	background:#3f3f3f;
    text-decoration:none;
    font:.9em Arial, Helvetica, sans-serif;  
}

/********************************************************/
/*************************LOGIN**************************/
/********************************************************/
.login-form{
    padding:15px 30px 30px 30px;
    background:#fff;
    width:350px;
    margin:75px auto;
}

.login-form img{
    display:block;
    margin:15px auto;
}

.form input[type="text"],
.form input[type="password"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 5px 5px 5px 40px;
    border:none;
    border-bottom:1px solid #ddd;
    font: 1em Arial, Helvetica, sans-serif;
    height: 45px;
}

.form input[type="text"]{
    background:url("../images/login.png") no-repeat;
    background-position:4px 9px;
}

.form input[type="password"]{
    background: url("../images/pass.png") no-repeat;
    background-position:2px 12px;
}

.form input[type="checkbox"]{
    margin:10px 10px 20px 0;
}

.form label{
    font: .9em Arial, Helvetica, sans-serif;
    color:#6f7382;
    text-align:left;
}

.form input[type="submit"]{
    background-color: #00a2d3;
    border: 1px solid #007599;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
    float:right;
}

.form a{
    text-decoration:none;
    color:#00a2d3;
    font:.8em Arial, Helvetica, sans-serif;   
}

.login-messages{
    display:none;
    background:#fa6b5b;
    padding:10px;
    margin:10px 0;
    border-radius:3px;
    font:.8em Arial, Helvetica, sans-serif;   
    font-weight:bold;
    color:#fff;
}


/********************************************************/
/*************************HEADER*************************/
/********************************************************/
/*.top h1{
    color:#fff;
    font:1.6em Arial, Helvetica, sans-serif;
    display:inline;
    margin:1.6% 0 0 5%;
    background:#679299;
    width:100%;
}

.top nav{
    float:left;
    background:#f67e93;
    margin:1% auto;
    
}

.top nav ul li{
    display:inline-block;
    font-size:1.2em;
    padding:10px;
}

.top nav a{
    color:#fff;
}

.logged-user{
    float:right;
    border:1px solid #fff;
    padding:10px 20px;
    border-radius:10px;
    margin:1% 5% 1% 0;
}*/

.top{
    width:90%;
    margin:0 auto;
    text-align:center;
}

.top a{
    color:#fff;
    text-decoration:none;
}

.top h1{
    display:inline-block;
    float:left;
    margin:1.6% 0 0 5%;
    color:#fff;
    font:1.6em Arial, Helvetica, sans-serif;
}

.top nav{
    float:left;
    width:58%;
    margin:1% auto;
    float:none;
    display:inline-block;
    vertical-align:middle;
}

.top nav a{
    color:#aaa;
}

.selected{
    color:#fff;
    border-bottom:4px solid #00a2d3; /*#8150c3;*/
}

.top nav ul li{
    display:inline-block;
    padding:10px;
}

.logged-user{
    float:right;
    display:inline-block;
    border:1px solid #fff;
    padding:5px 10px;
    border-radius:10px;
    margin:1.3% 5% 1% 0;
    font:.8em;
}

.logged-user span{
    font:1em;
    font-weight:bold;
}

.drop-down-menu{
    display:none;

}


/********************************************************/
/*************************CONTENT************************/
/********************************************************/
.container{
    background:#fff;
    min-height:300px;
}

.content{
    padding:2% 0;
    width:85%;
    margin:auto;
}



/********************************************************/
/*************************DESPESAS***********************/
/********************************************************/

.table{
    margin:2% auto;
}

table th{
    padding:5px;
    background:#00a2d3;
    border:1px solid #fff;
    color:#fff;
    font-weight:bold;
    font-size:1em;
}

table tr:nth-child(odd){
    background:#E7F2F6;
}

table td{
    padding:4px 10px;
    border-right:1px solid #fff;
}



